<div id="search-container">
  <h1>My Dashboard</h1>
  <%= render "searchbox" %>
  <div id="search_results"></div>
</div>

<div id="recent-container">
	<h1>Recent Searches</h1>
	<div class="recent-card">
		<div class="question">Question: Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
		<div class="answer-label">Answers
		  <img class="down" src="/assets/down.png">
		</div>
		<div class="answer-dropdown">
		  <div class="answer-text">Answer: wwww.stackoverflow.com</div>
		</div>
		<div class="answer-dropdown">
		  <div class="answer-text">Answer: wwww.stackoverflow.com</div>
		</div>
		<div class="answer-dropdown">
		  <div class="answer-text">Answer: wwww.stackoverflow.com</div>
		</div>
	</div>
		<div class="recent-card">
		<div class="question">Question: Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
		<div class="answer-label">Answers
		  <img class="down" src="/assets/down.png">
		</div>
		<div class="answer-dropdown">
		  <div class="answer-text">Answer: wwww.stackoverflow.com</div>
		</div>
		<div class="answer-dropdown">
		  <div class="answer-text">Answer: wwww.stackoverflow.com</div>
		</div>
		<div class="answer-dropdown">
		  <div class="answer-text">Answer: wwww.stackoverflow.com</div>
		</div>
	</div>
</div>

<div class="clear"></div>