<%= javascript_include_tag "dashboard" %>
<div id="search-container">
  <h1>My Dashboard</h1>
  <%= render "searchbox" %>
  <div id="search_results"></div>
</div>

<div id="recent-container">
	<h1>Recent Searches</h1>
	<%= render "searches/cards" %>
</div>
<div class="clear"></div>