<%= javascript_include_tag "typed.js"%>
<body class="homepage-body">
	<div class="element-type">
		<span id="text-body"></span>
	</div>
</body>
<script>
		$(function(){
      	$("#text-body").typed({
        strings: ["$ solving coding problems is hard", "$ remembering how you did it shouldn't be"],
        typeSpeed: 50,
        backDelay: 600,
      });
  });</script>



