<%= javascript_include_tag "dashboard" %>
<div id="all-container">
	<h1>My Searches</h1>
	<%= form_tag "/filter", remote: true do %>
	<%= text_field_tag :query, "", placeholder: "Enter keywords to filter", id: "filter" %><br>
	<% end %>
	<%= render "cards" %>
	<div class="clear"></div>
</div>