body {
    margin: 0;
    padding: 0;
}

.notice {
	color: green;
}

.alert {
	color: red;
}

.clear {
	clear: both;
}

#container {
	width: 98%;
	margin: 0 auto;
}

#logo {
	float: left;
	font-size: 1.5em;
	margin-left: 10px;
}

#nav {
	ul {
		list-style: none;
		text-align: right;
		margin-right: 10px;
	}
	li {
		display: inline-block;
		background-color: #d1cfcf;
		width: 100px;
		height: 30px;
		border: 1px solid black;
	}
	a:link, a:visited {
		color: white;
		text-decoration: none;
		display: block;
		text-align: center;
		margin-top: 5px;
	}
}

#search-container {
	width:60%;
	margin:0 auto;
	float:left;
}

.searchbar {
	width: 400px;
	height: 30px;
	border: 1px solid black;
	color: grey;
}

#recent-container {
	width: 35%;
	margin:0 auto;
	float: right;
}

#all-container {
	width: 65%;
	margin: 0 auto;
	float: left;
}

.recent-card {
	width: 100%;
	display: inline-block;
	background-color: #d1cfcf;
	margin-bottom: 5px;
	.question {
		margin-left: 5px;
		margin-top: 2px;
		display: inline-block;
	}
	.answer-label {
		text-align: right;
		margin-right: 10px;
	}

	.down {
		width: 20px;
	}
	.answer-dropdown {
		width: 100%;
		background-color: #dbdbdb;
		display: inline-block;
		display: none;
		border-bottom: 1px solid white;
	}

	.answer-text {
		margin-left: 5px;
		margin-top: 2px;
		display: inline-block;
	}
}

.time-filter, .sites-filter {
	margin-top: 10px;
	margin-right: 5px;
	width: 130px;
	height: 30px;
	background-color: #d1cfcf;
	float:left;
	text-align: center;
	.time-down, .sites-down {
		width: 20px;
	}
}

.time-dropdown, .sites-dropdown {
	width: 100%;
	list-style: none;
	text-align: left;
	margin-top: -10px;
	display: none;
	ul {
		background-color: #dbdbdb;
		padding-left: 0;
	}
	li {
		display: block;
		margin-top: 5px;
	}
}