body {
    margin: 0;
    padding: 0;
}
.clear {
	clear: both;
}

#container {
	width: 98%;
	margin: 0 auto;
}

#logo {
	float: left;
	font-size: 1.5em;
	margin-left: 10px;
}

#nav {
	ul {
		list-style: none;
		text-align: right;
		margin-right: 10px;
	}
	li {
		display: inline-block;
		background-color: #d1cfcf;
		width: 100px;
		height: 30px;
		border: 1px solid black;
	}
	a:link, a:visited {
		color: white;
		text-decoration: none;
		display: block;
		text-align: center;
		margin-top: 5px;
	}
}

#search-container {
	width:60%;
	margin:0 auto;
	float:left;
	position: relative;
}

.searchbar {
	width: 400px;
	height: 30px;
	border: 1px solid black;
}

#recent-container {
	width: 35%;
	margin:0 auto;
	float: right;
	position: relative;
}

.recent-card {
	width: 100%;
	height: 60px;
	display: inline-block;
	background-color: #d1cfcf;
	.question {
		margin-left: 5px;
		margin-top: 2px;
		display: inline-block;
	}
	.answer-label {
		text-align: right;
		margin-right: 10px;
	}

	.down {
		width: 20px;
	}
	.answer-dropdown {
		width: 100%;
		height: 40px;
		background-color: #dbdbdb;
		display: inline-block;
		display: none;
		border-bottom: 1px solid white;
	}

	.answer-text {
		margin-left: 5px;
		margin-top: 2px;
		display: inline-block;
	}
}