body {
    margin: 0;
    padding: 0;
    background-color: #F2EDE3;
    font-family: 'Lora', serif;
}

.notice {
	color: green;
	margin-left: 15px;
}

.alert {
	color: red;
	margin-left: 15px;
}

.clear {
	clear: both;
}

#container {
	width: 98%;
	margin: 0 auto;
}

#logo {
	float: left;
	font-size: 1.5em;
	margin-top: -8px;
	margin-left: 10px;
	color: #808080;
	#logo-icon {
		width: 50px;
		float: left;
	}
	#logo-text {
		margin-top: 5px;
		float: left;
	}
}
h1 {
	color: #808080;
}

#nav {
	ul {
		list-style: none;
		text-align: right;
		margin-right: 10px;
		color: #808080;
	}
	li {
		display: inline-block;
    	background-color: #F2EDE3;
		width: 100px;
		height: 30px;
		border: 1px solid #808080;
	}
	a:link, a:visited {
		color: #808080;
		text-decoration: none;
		display: block;
		text-align: center;
		margin-top: 5px;
	}

	li:hover, a:hover {
		color: white;
		background-color: #D0A234; 
	}
}

#search-container {
	width:60%;
	float:left;
}

.searchbar {
	width: 400px;
	height: 30px;
	border: 1px solid #808080;
	color: #808080;
}

#search-results {
	position: relative;
	z-index: -1;
	float:left;
}

#recent-container {
	width: 35%;
	float: right;
}

.recent-card {
	width: 100%;
	margin-bottom: 5px;
	color: white;
	background-color: #D0A234;
	float:left;

	.question {
		margin-left: 5px;
		margin-top: 2px;
	}

	.answer-label {
		float: left;
		margin-left: 5px;
	}

	.note {
		height: 36px;
		overflow: scroll;
	}

	.answer-language {
		margin: -8px 0px 5px 5px;
	}

	.hide-card {
		float: right;
	}

	.delete-card {
		width: 10px;
		margin-right: 10px;
		color: white;
	}

	.answer-dropdown {
		width: 100%;
		display: inline-block;
		display: none;
		border-bottom: 1px solid white;
		background-color: #ceab5a;
	}

	.answer-text {
		width: 99.5%;
		margin-left: 5px;
		margin-top: 2px;
		display: inline-block;
		p {
			width: 95%;
		}
		a:link, a:visited {
 			overflow-wrap: break-word;
			text-decoration: none;
			color:white;
		}
	}

	.hide-answer {
		color: white;
	}

	.delete-answer{
		width: 10px;
		float: right;
		margin-right: 10px;
		color: white;
	}
}
.filter-wrapper {
	width: 300px;
}

.time-filter, .sites-filter {
	margin-top: 5px;
	padding-top: 8px;
	margin-right: 5px;
	width: 145px;
	height: 30px;
	background-color: #D0A234;
	color: white;
	float:left;
	text-align: center;
	position: relative;
}

.time-dropdown, .sites-dropdown {
	width: 100%;
	list-style: none;
	text-align: left;
	margin-top: -6px;
	display: none;
	ul {
		background-color: #D0A234;
		padding-left: 0;
	}
	li {
		display: block;
		margin-top: 5px;
	}
}

#all-container {
	width: 100%;
	margin: 0 auto;
	margin-top: 40px;
	.recent-card {
		width: 49.6%;
		margin-right: 5px;
	}
}

.homepage-body {
 	background: 
 		linear-gradient(
			rgba(208, 162, 52, 0.25), 
			rgba(208, 162, 52, 0.25)
	  		),
 		url("desktop.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  }

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink {  
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.element-type {
	position: absolute;
	right: 5%;
	bottom: 15%;
	text-shadow: #ffffff 0px 1px 0px;
    font-family: "Consolas", "Courier New", "Courier";
    font-size: 3em;
    line-height: 4.85em;
    font-weight: 500;
}
.konami {
	top: 10%;
	position: absolute; 
	z-index: 99; 
	padding: 2% 10%;
}
.konami-headline {
	font-family: "VT323"; 
	font-size: 85px; 
}
.konami-image {
	width: 80%;
	margin: 0 auto;
	display: block;
}

@media all and (min-width: 400px) and (max-width: 600px) {
	#container {
		width: 90%;
		margin: 0 auto;
	}

	#search-container {
		width: 100%;
		margin: 0 auto;
		h1 {
			text-align: center;
		}
		.time-filter, .sites-filter {
			display: inline-block;
		}
	}

	#recent-container {
		width: 100%;
		margin:0 auto;
		h1 {
			text-align: center;
		}
	}
	#search-results {
		width: 95%;
		margin: 0 auto;
		position: relative;
		z-index: -1;
		float:left;
	}
	.searchbar {
		width: 100%;
	}

	#all-container {
		width: 100%;
		margin: 0 auto;
		margin-top: 40px;
		h1 {
			text-align: center;
		}
		.recent-card {
			width: 100%;
			}
	}
}

@media all and (min-width: 601px) and (max-width: 799px) {
	#container {
		width: 90%;
		margin: 0 auto;
	}

	#search-container {
		width: 100%;
		margin: 0 auto;
		h1 {
			text-align: center;
		}
	}

	.searchbar {
		width: 100%;
	}

	#recent-container {
		width: 100%;
		margin:0 auto;
		h1 {
			text-align: center;
		}
	}
	#search-results {
		width: 95%;
		margin: 0 auto;
		position: relative;
		z-index: -1;
		float:left;
	}

	#all-container {
		width: 100%;
		margin: 0 auto;
		margin-top: 40px;
		.recent-card {
			width: 100%;
		}
	}
}
  
@media all and (min-width: 800px) {
	#container {
		width: 95%;
	}

	#all-container {
		width: 100%;
		margin: 0 auto;
		margin-top: 40px;
		margin-left: 6px;
		.recent-card {
			width: 49.2%;
		}
	}
}